body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-ul {
    padding: 0px;
    margin: 0;
    background-color: skyblue;
}

.header-ul li {
    display: inline-block;
    padding: 10px;
}

.header-ul li a{
    color: #fff;
    padding: 5px;
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: skyblue;
}

.signup {
    margin-left: 30%;
}

.inputBox {
    display: block;
    padding: 10px;
    margin: 22px;
    width: 300px;
    border: 1px solid skyblue;
    border-radius: 5px;
}

.button {
    margin: 25px;
    padding: 10px;
    width: 150px;
    background-color: skyblue;
    font-size: 16px;
    border: 1px solid #fff ;
    border-radius: 7px;
    cursor: pointer;
}